---
import { t } from "i18next";

import WebIcon from "../atoms/WebIcon.astro";
import GithubIcon from "../atoms/GithubIcon.astro";
import type { TagData } from "../../utils/Projects";

export interface Props {
  title: string;
  tags: TagData[];
  img: string;
  live_link: string;
  repo_link: string;
}

const { title, tags, img, live_link, repo_link } = Astro.props;
---

<li class="link-card">
  <div id="link-card__content">
    <h3 id="link-card__title">{title}</h3>
    <p id="link-card__description">{t("cards.turnos.first-paragraph")}</p>
    <p id="link-card__description">{t("cards.turnos.second-paragraph")}</p>
    <p id="link-card__description">{t("cards.turnos.third-paragraph")}</p>
    <ul id="link-card__tag-items">
      {
        tags.map((tag) => (
          <li style=`--tag-color: ${tag.tagColor}`>
            <div class="tag-item">
              <img src={tag.tagIcon} alt={tag.tagName} width="20" height="20" />
              <small>{tag.tagName}</small>
              </div>
          </li>
        ))
      }
    </ul>
    <div id="link-card__link-items">
      <a href={live_link} target="_blank"><WebIcon width="28" height="28" /></a>
      <a href={repo_link} target="_blank"><GithubIcon width="28" height="28" /></a>
    </div>
  </div>
  <img id="link-card__cover-thumbnail" src={img} alt={`Thumbnail of ${title}`} width="120" height="320" arial-label={`Thumbnail of ${title}`} /> 
</li>

<style>
  .link-card {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    max-width: 70em;
    padding: 4em;
    background: linear-gradient(to right, rgb(9 15 26) 0%, transparent);
    border-radius: 3rem;
    
    @media (max-width: 1210px) {
      padding: 2rem;
      flex-direction: column-reverse;
      gap: 2rem;
    }
    
    #link-card__content {
      display: flex;
      flex-direction: column;
      gap: .99rem;
      max-width: 40em;
    }
    #link-card__title {
      color: #5a8af2;
      font-size: 36px;
      margin-bottom: 0;
    }

    #link-card__description{
      margin: 0;
      color: var(--white-c-800);
      font-size: 1.1rem;
      line-height: 1.6rem;
    }

    #link-card__tag-items {
      color: var(--white-color);
      display: flex;
      gap: .5rem;
      flex-wrap: wrap;
      font-size: .78rem;

      li {
        border-radius: 1rem;
        padding: .32rem .87rem;
        transition: background-color 0.12s ease-in-out;
        border: 1px solid var(--tag-color);

        &:hover {
          background-color: color-mix(in srgb, var(--tag-color), black 70%);
        }

        .tag-item {
          display: flex;
          align-items: center;
          gap: .7rem;

          img {
            filter: invert(1);
          }
        }
      }
    }

    #link-card__link-items {
      display: flex;
      gap: .5em;
    }

    #link-card__cover-thumbnail {
      width: 23em;
      height: 20em;
      aspect-ratio: 16/9;
      object-fit: contain;
      border-radius: .77rem;
      box-shadow: 0 0 30px 1px rgba(228, 228, 228, 0.075);
      transition: box-shadow 0.12s ease-in-out;

      &:hover {
        box-shadow: 0 0 30px 1px rgba(228, 228, 228, 0.15);
      }
    }
  }

  @media (prefers-color-scheme: light) {
    .link-card {
    background: linear-gradient(to right, rgb(208, 221, 243) 0%, transparent);
      :is(#link-card__description, #link-card__tag-items) {
        color: var(--primary-color);
      }
    }
  }
</style>
