---
import WebIcon from "../atoms/WebIcon.astro";
import GithubIcon from "../atoms/GithubIcon.astro";
import type { TagData } from "../../utils/Projects";

export interface Props {
  title: string;
  desc: string;
  tags: TagData[];
  img: string;
  live_link: string;
  repo_link: string;
}

const { title, desc, tags, img, live_link, repo_link } = Astro.props;
---

<li class="link-card">
  <h3 id="link-card__title">{title}</h3>
  <p id="link-card__description">{desc}</p>
  <ul id="link-card__tag-items">
    {
      tags.map((tag) => (
        <li style=`border: 1px solid ${tag.tagColor}`>
          <small>{tag.tagName}</small>
        </li>
      ))
    }
  </ul>
  <div id="link-card__link-items">
    <a href={live_link} target="_blank"><WebIcon pageLink={live_link} /></a>
    <a href={repo_link} target="_blank"><GithubIcon width="28" height="28" /></a>
  </div>
  <img id="link-card__cover-thumbnail" src={img} alt="Image" />
</li>

<style>
  .link-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 40em;

    #link-card__title {
      color: hsla(340, 98%, 74%, 1);
      font-size: 36px;
      margin-bottom: 0;
    }

    #link-card__description{
      margin: 0;
      color: var(--white-c-800);
      font-size: 1.1rem;
      line-height: 1.5rem;
    }

    #link-card__tag-items {
      color: var(--white-color);
      display: flex;
      gap: .5rem;
      flex-wrap: wrap;

      li {
        border: 1px solid var(--white-gray-color);
        border-radius: 7px;
        padding: 2px 9px;
      }
    }

    #link-card__link-items {
      display: flex;
      gap: .5em;
    }

    #link-card__cover-thumbnail {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  @media (prefers-color-scheme: light) {
    .link-card {
      :is(#link-card__description, #link-card__tag-items) {
        color: var(--primary-color);
      }
    }
  }
</style>
