---
import { Image } from "astro:assets";

import { createSlug } from "@/utils/createSlug";
import { formatDate } from "@/utils/formatDate";

interface Props {
  img: {
    height: number;
    src: string;
    width: number;
    format: "avif" | "png" | "webp" | "jpeg" | "jpg" | "svg" | "tiff" | "gif";
  };
  title: string;
  description: string;
  tags: string[];
  pubDate: Date;
}

const { img, title, description, tags, pubDate } = Astro.props;
---

<article id="post-card">
  <a id="post-card__slug-link" href={`/posts/${createSlug(title)}`}>
    <Image
      id="post-card__cover-thumbnail"
      src={img}
      alt="Image about"
      width={600}
      height={300}
    />
    <h4 id="post-card__title">{title}</h4>
    <small id="post-card__pub-date">{formatDate(pubDate)}</small>
    <ul id="post-card__tag-items">
      {
        tags.map((tag) => (
          <li>
            <small>{tag}</small>
          </li>
        ))
      }
    </ul>
    <p id="post-card__brief-desc">{description}</p>
  </a>
</article>

<style>
  #post-card {
    #post-card__slug-link {
      display: flex;
      flex-direction: column;
      gap: 0.7em;
      max-width: 25em;

      #post-card__cover-thumbnail {
        border-radius: 0.7em;
        aspect-ratio: 16/9;
        object-fit: contain;
      }

      #post-card__title {
        font-size: 2rem;
        color: var(--white-color);
      }

      #post-card__pub-date {
        color: var(--white-c-800);
      }

      #post-card__tag-items {
        display: flex;
        gap: 0.5em;
        color: var(--white-c-800);

        li {
          border: 1px solid var(--white-c-800);
          border-radius: 7px;
          padding: 2px 9px;
        }
      }

      #post-card__brief-desc {
        display: -webkit-box;
        font-size: 1rem;
        color: var(--white-c-800);
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    #post-card {
      #post-card__slug-link {
        #post-card__title {
          color: var(--black-c-800);
        }

        #post-card__pub-date {
          color: var(--black-c-800);
        }

        #post-card__tag-items {
          color: var(--black-c-800);
          li {
            border: 1px solid var(--black-c-800);
          }
        }

        #post-card__brief-desc {
          color: var(--black-c-800);
        }
      }
    }
  }
</style>
