---
import type { CollectionEntry } from "astro:content";
import PostCard from "../widgets/PostCard.astro";
import BigPost from "../widgets/BigPost.astro";

type Props = {
  posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props;
---

<section>
  <div id="radial-gradient__effect"></div>
  <h3>Latest posts</h3>
  <!-- list of 3 posts -->
  <ul id="list-posts">
    {
      posts.map((post) => (
        <PostCard
          img={post.data.coverImg}
          title={post.data.title}
          description={post.data.description}
          tags={post.data.tags}
          pubDate={post.data.publishDate.toDateString()}
        />
      ))
    }
  </ul>
</section>

<style>
  section {
    padding: 12em 10em;
    background: linear-gradient(380deg, #010613 -20%, #232243 400%);
    position: relative;
    z-index: 10;
    position: relative;

    #radial-gradient__effect {
      background-image: radial-gradient(
          at 27% 37%,
          hsla(215, 98%, 61%, 1) 0px,
          transparent 0%
        ),
        radial-gradient(at 97% 21%, rgb(219, 114, 254) 0px, transparent 50%),
        radial-gradient(at 52% 99%, rgb(253, 58, 129) 0px, transparent 50%),
        radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 97% 96%, rgb(203, 149, 228) 0px, transparent 50%),
        radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 79% 53%, rgb(238, 165, 200) 0px, transparent 50%);
      position: absolute;
      width: 60em;
      z-index: -1;
      height: 90%;
      filter: blur(120px) saturate(200%);
      opacity: 0.1;
      top: 0;
      right: 10em;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/assets/grid.svg");
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      filter: invert(0.85);
      mask-image: radial-gradient(ellipse at center, transparent 10%, black);
    }

    h3 {
      color: var(--white-color);
    }

    #list-posts {
      margin-top: 6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
    }
  }
</style>
