---
import {t} from "i18next"
import Card from "../widgets/Card.astro";

const projects = [
  {
    title: "Expense Tracker",
    desc: "An app designed for tracking different types of transactions: incomes and expenses. The project is built with React.js, using the Speechly AI library.",
    project_img: "/assets/expense-tracker.webp",
    tags: ["React.js ", "Material UI ", "Speechly AI"],
    live: "https://s-expensetracker.netlify.app",
    repo: "https://github.com/eliaspereyra/expense-tracker",
  },
  {
    title: "Memories",
    desc: "This app was made with the MERN stack. Allows you to share memories with the people, attaching an image. A memory is a post which has a title and a description of you like, altogether with a photo or an image.",
    project_img: "/assets/memories-app.webp",
    tags: ["React.js ", "Node.js ", "Express.js ", "MongoDB ", "Material UI"],
    live: "https://imagery-app.netlify.app",
    repo: "https://github.com/eliaspereyra/memories-project",
  },
  {
    title: "Portfolio",
    desc: "A portfolio made for a drawer and designer from Argentina. It was made with HTML, Sass and JavaScript.",
    project_img: "/assets/yonni-art.webp",
    tags: ["HTML", "Sass", "JavaScript"],
    live: "https://www.yonni.art/",
    repo: "https://github.com/EliasPereyra/yonni-art",
  },
]
---
<main id="portfolio">
  <div id="noise"></div>
  <div id="content">
    <div id="underlay"></div>
    <h2>{t("portfolio.title")}</h2>
    <ul class="animate">
      {projects.map(({title, desc, project_img, tags, live, repo}) => (
        <Card 
          title={title} 
          desc={desc} 
          project_img={project_img} 
          tags={tags} 
          live_link={live} 
          repo_link={repo} />
      ))}  
    </ul>
    <a
      href="https://github.com/EliasPereyra"
      target="_blank"
      rel="noreferrer">
      <strong>{t("portfolio.button")}</strong>
    </a>
  </div>
</main>

<style>
  main {
  padding: 6em 3em;
  background: #1b1b1b;
  background-size: 100%;
  position: relative;
  isolation: isolate;
  z-index: 10;
}

#noise {
    position: absolute;
    background-image: url("/assets/noise.webp");
    z-index: -20; 
    mix-blend-mode: overlay;
    inset: 0;
    opacity: .1;
  }

  #content::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background: url("/assets/noise.webp") repeat,linear-gradient(174deg, #1D2B5C 0%, #060C22 78.22%, #060C22 100%);
    background-blend-mode: overlay;
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.671),transparent 100%);
  }

  #underlay {
    position: absolute;
    z-index: -30;
    inset: 0;
  }

  h2 {
    padding-top: 6em;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(255 255 255 / 20%);
    margin: 4em 0 2em 0;
    color: white;
    transitions: all 1s;
  }

  ul {
    color: hsl(233, 53%, 27%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0;
  }
  @media (max-width: 768px) {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  a {
    display: block;
    margin: 4em auto;
    padding: 1em 3em;
    border-radius: 5px;
    width: 10em;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--white);
    background-color: none;
    border: 1px solid var(--light-purple);
    font-weight: bold;
    transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  a:hover {
    background: transparent;
    border: solid .8px var(--orange);
    color: var(--orange);
  }
</style>
