---
import { t } from "i18next";

import Card from "../widgets/Card.astro";
import { projects } from "../../utils/Projects";
---

<main id="portfolio">
  <div id="content">
    <h2>{t("portfolio.title")}</h2>
    <ul>
      {
        projects.map(
          ({ title, desc, tags, project_img, live_link, repo_link }) => (
            <Card
              title={title}
              desc={desc}
              tags={tags}
              img={project_img}
              live_link={live_link}
              repo_link={repo_link}
            />
          )
        )
      }
    </ul>
  </div>
</main>

<style>
  main {
    padding: 10em 10em;
    background: linear-gradient(250deg, #050914 10%, #121220 320%);
    container-type: inline-size;

    #content {
      h2 {
        text-align: center;
        text-shadow: 1px 1px 10px rgb(255 255 255 / 20%);
        color: #f2f7f2;
        font-size: 50px;
        margin-bottom: 3em;
      }

      ul {
        color: hsl(233, 53%, 27%);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4em;
        justify-items: center;
        padding: 0;
      }

      @container (max-width: 1394px) {
        ul {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    main {
      padding: 10em 2em;
    }
  }

  @media (prefers-color-scheme: light) {
    main {
      background: linear-gradient(204deg, #e5e7ed -19.36%, #d0dfe6 222.58%);

      #content {
        h2 {
          color: var(--primary-color);
        }
      }
    }
  }
</style>
