---
import { t } from "i18next";

import { projects } from "../../utils/Projects";
import Card from "../widgets/Card.astro";
---

<main id="portfolio">
  <div id="content">
    <h2>{t("portfolio.title")}</h2>
    <p>
      {t("portfolio.description")}
    </p>
    <ul>
      {
        projects.map(
          ({ title, desc, tags, project_img, live_link, repo_link }) => (
            <Card
              title={title}
              desc={desc}
              tags={tags}
              img={project_img}
              live_link={live_link}
              repo_link={repo_link}
            />
          )
        )
      }
    </ul>
  </div>
</main>

<style>
  main {
    padding: 10em 80px;
    background: linear-gradient(204deg, #010613 -25.83%, #1b2d36 222.58%);
  }

  h2 {
    text-align: center;
    text-shadow: 1px 1px 10px rgb(255 255 255 / 20%);
    color: #f2f7f2;
    position: relative;
    font-size: 50px;
    margin-bottom: 15px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    h2 {
      text-align: center;
      font-size: 2rem;
    }
    h2::before {
      content: "";
      margin: 0 auto 6px auto;
    }
  }

  @media (max-width: 425px) {
    h2::before {
      content: "";
      width: 100%;
    }
  }

  @media (max-width: 375px) {
    h2 {
      content: "";
      font-size: 1.7rem;
    }
  }

  p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.7rem;
    color: var(--white-gray-color);
    margin: 0 auto;
    width: 60ch;
  }

  @media (max-width: 768px) {
    p {
      width: 40ch;
      text-align: center;
      margin: auto;
    }
  }

  @media (max-width: 425px) {
    p {
      width: 35ch;
    }
  }

  @media (max-width: 375px) {
    p {
      width: 30ch;
    }
  }

  @media (max-width: 320px) {
    p {
      width: 25ch;
    }
  }

  ul {
    margin: 0 auto;
    color: hsl(233, 53%, 27%);
    display: grid;
    gap: 5em;
    justify-items: center;
    padding: 0;
    margin-top: 9em;
  }

  a {
    display: block;
    margin: 4em auto;
    padding: 1em 3em;
    border-radius: 5px;
    width: 12em;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--white-color);
    background-color: none;
    border: 1px solid var(--light-purple);
    font-weight: bold;
    transition:
      border 0.3s ease-in-out,
      color 0.3s ease-in-out,
      letter-spacing 0.3s ease-in-out;
  }
  a:hover {
    background: transparent;
    border: solid 0.8px var(--orange);
    color: var(--orange);
    letter-spacing: 1px;
  }

  @media (prefers-color-scheme: light) {
    main {
      background: linear-gradient(204deg, #e5e7ed -19.36%, #d0dfe6 222.58%);

      :is(h2, a, p) {
        color: var(--primary-color);
      }
    }
  }
</style>
