---
import { t } from "i18next";

import Card from "../widgets/Card.astro";
import { projects } from "../../utils/Projects";
---

<main class="port-wrapper" id="portfolio-section">
  <div id="content">
    <h2>{t("portfolio.title")}</h2>
    <ul>
      {
        projects.map(({ title, tags, project_img, live_link, repo_link }) => (
          <Card
            title={title}
            tags={tags}
            img={project_img}
            live_link={live_link}
            repo_link={repo_link}
          />
        ))
      }
    </ul>
  </div>
</main>

<style>
  main {
    padding: 10em 10em;
    background: #060912;

    @media screen and (max-width: 810px) {
      padding: 10em 1em;
    }

    #content {
      h2 {
        text-align: center;
        text-shadow: 1px 1px 10px rgb(255 255 255 / 20%);
        color: #f2f7f2;
        font-size: 50px;
        margin-bottom: 3em;
      }

      ul {
        margin-inline: auto;
        max-width: 90em;
        color: hsl(233, 53%, 27%);
        display: grid;
        gap: 5em;
        justify-items: center;
        padding: 0;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    main {
      background: linear-gradient(204deg, #e5e7ed -19.36%, #d0dfe6 222.58%);

      #content {
        h2 {
          color: var(--primary-color);
        }
      }
    }
  }
</style>
