---
import LeftArrowIcon from "../../components/atoms/LeftArrowIcon.astro";

const { title, desc, project_img, live_link, repo_link } = Astro.props
---

<section>
  <div id="texture"></div>
  <div>
    <div id="underlay"></div>
    <img  src={project_img} alt="Drawer's portfolio" />
    <div id="go-back">
      <a transition:name="see-project" href="/#portfolio">
        <LeftArrowIcon color="#fa5f3c" /> go back
    </a>
    </div>
    <div id="content">
      <div id="content-header">
        <h3>{title}</h3>
        <div id="links">
          <a id="live-link" href={live_link} target="_blank" rel="noreferrer">
            <svg fill="#eee" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M352 256C352 278.2 350.8 299.6 348.7 320H163.3C161.2 299.6 159.1 278.2 159.1 256C159.1 233.8 161.2 212.4 163.3 192H348.7C350.8 212.4 352 233.8 352 256zM503.9 192C509.2 212.5 512 233.9 512 256C512 278.1 509.2 299.5 503.9 320H380.8C382.9 299.4 384 277.1 384 256C384 234 382.9 212.6 380.8 192H503.9zM493.4 160H376.7C366.7 96.14 346.9 42.62 321.4 8.442C399.8 29.09 463.4 85.94 493.4 160zM344.3 160H167.7C173.8 123.6 183.2 91.38 194.7 65.35C205.2 41.74 216.9 24.61 228.2 13.81C239.4 3.178 248.7 0 256 0C263.3 0 272.6 3.178 283.8 13.81C295.1 24.61 306.8 41.74 317.3 65.35C328.8 91.38 338.2 123.6 344.3 160H344.3zM18.61 160C48.59 85.94 112.2 29.09 190.6 8.442C165.1 42.62 145.3 96.14 135.3 160H18.61zM131.2 192C129.1 212.6 127.1 234 127.1 256C127.1 277.1 129.1 299.4 131.2 320H8.065C2.8 299.5 0 278.1 0 256C0 233.9 2.8 212.5 8.065 192H131.2zM194.7 446.6C183.2 420.6 173.8 388.4 167.7 352H344.3C338.2 388.4 328.8 420.6 317.3 446.6C306.8 470.3 295.1 487.4 283.8 498.2C272.6 508.8 263.3 512 255.1 512C248.7 512 239.4 508.8 228.2 498.2C216.9 487.4 205.2 470.3 194.7 446.6H194.7zM190.6 503.6C112.2 482.9 48.59 426.1 18.61 352H135.3C145.3 415.9 165.1 469.4 190.6 503.6V503.6zM321.4 503.6C346.9 469.4 366.7 415.9 376.7 352H493.4C463.4 426.1 399.8 482.9 321.4 503.6V503.6z"/></svg>
            <strong>Live Demo</strong>
          </a>
          <a id="repo-link" href={repo_link} target="_blank" rel="noreferrer">
            <svg fill="#eee" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
            <strong>Repo</strong>
          </a>
        </div>
      </div>
      <p>{desc}</p>
    </div>
  </div>
</section>

<style>
  section {
    background-color: #111;
    padding: 6em 4em 4em 4em;
    isolation: isolate;
  }

  img {
    width: 50em;
    margin: auto;
    transition: transform .2s ease;
    border-radius: 2px;
    box-shadow: 1px -2px 90px 10px rgba(255, 255, 255, 0.12);
  }

  #go-back {
    margin: 15px 0;
    font-size: .9rem;
  }

  a {
    display: flex!important;
    text-decoration: none;
    color: var(--orange); 
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    transition: color .2s ease-in;
  }a:hover {
    color: var(--white);
  }

  #content {
    background: linear-gradient(to right, hsl(0deg 0.04% 11.02%), #111);
    padding: 1.5em;
    border-radius: 2px;
  }

  #content-header {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 0;
  }

  h3 {
    background: linear-gradient(to right,#fa5f3c,#fabe3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7rem;
    margin: 0;
  }

  p {
    color: var(--white);
    width: 70ch;
    font-size: .9rem;
  }

  #texture {
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/abstract-grunge-subtle.webp");
  }

  #links {
    display: flex;
    gap: 0.5em;
	}

  :where(#live-link, #repo-link) {
    padding: .5em .7em;
    width: 8em;
    width: 8em;
    border-radius: 4px;
    border: 1px var(--orange) solid;
    transition: border .2s ease-in;
  }:where(#live-link, #repo-link):hover {
    border: 1px var(--white) solid;
  }

  #live-link {
    display: inline-block;
  }

  #repo-link {
    display: inline-block;
  }
</style>
