---
import { ViewTransitions } from "astro:transitions";
import { join } from "path";

export interface Props {
  title: string;
  author: string;
  description: string;
}

const canonicalUrl = new URL(Astro.url.pathname);

const { title, author, description } = Astro.props as Props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/assets/logo-w-v1.svg" />
<meta name="generator" content={Astro.generator} />

<meta name="title" content={title} />
<meta name="author" content={author} />
<meta name="description" content={description} />
<meta name="view-transition" content="same-origin" />

<!-- Canonical URL  -->
<link rel="canonical" href={canonicalUrl} />

<!-- Primary Meta Tags -->
<title>Elias Pereyra Gomez | Fullstack, JavaScript, React.js</title>
<meta
  name="title"
  content="Elias Pereyra Gomez | Fullstack, JavaScript, React.js"
/>
<meta
  name="description"
  content="Mi sitio web personal donde encontrarás todos mis últimos proyectos y, también, un poquito sobre quién soy"
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://eliaspereyra.netlify.app/" />
<meta
  property="og:title"
  content="Elias Pereyra Gomez | Fullstack, JavaScript, React.js"
/>
<meta
  property="og:description"
  content="Mi sitio web personal donde encontrarás todos mis últimos proyectos y, también, un poquito sobre quién soy"
/>
<meta
  property="og:image"
  content={join(process.cwd(), "src", "assets", "imgs", "social-media.jpg")}
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://eliaspereyra.netlify.app/" />
<meta
  property="twitter:title"
  content="Elias Pereyra Gomez | Fullstack, JavaScript, React.js"
/>
<meta
  property="twitter:description"
  content="Mi sitio web personal donde encontrarás todos mis últimos proyectos y, también, un poquito sobre quién soy"
/>
<meta
  property="twitter:image"
  content="https://metatags.io/images/meta-tags.png"
/>

<!-- Meta Tags Generated with https://metatags.io -->
<meta
  property="twitter:image"
  content="https://metatags.io/images/meta-tags.png"
/>

<title>{title}</title>

<ViewTransitions />

<link
  rel="preload"
  href="/fonts/OpenSans/open-sans-cyrillic-700-normal.woff"
  as="font"
  type="font/woff"
  crossorigin
/>
