---
import '../styles/global.css';

export interface Props {
  title: string;
  desc: string;
  tags: string[];
  skill_img: string;
  logo_src: string;
  bg_color: string;
}

const { title, desc, tags, skill_img, logo_src, bg_color } = Astro.props;
---

<div id="container" >
  <div id="skill-logo"><img src={skill_img} alt={`${title} image`} /></div>
  <div id="skill-content">
    <h3>{title}</h3>
    <p id="skill-content__desc">{desc}</p>
    <p id="skill-content__tags">{tags.map(tag => <small><b>{tag}</b></small>)}</p>
  </div>
</div>

<style>
  #container {
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 5px;
    width: 70%;
    margin: 2em 0;
    padding: 2em;
  }@media (max-width: 768px) {
    #container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  h3 {
    margin: 0;
    font-size: 1.2rem;
  }

  #skill-content__desc {
    font-weight: 300;
    color: var(--light-dark);
    width: 55ch;
  }

  #skill-logo img {
    width: 11em;
  }

  #logo-img {
    width: 5em;
  }@media (max-width: 768px) {
    #logo-img {
      display: none;
    }
  }

  #skill-content__tags {
    font-size: .8rem;
  }

  small {
    margin-right: 5px;
    padding: .5em 1em;
    background-color: rgb(250, 218, 177);
    border-radius: 5px;
  }

</style>
