---
import Skill from "../components/Skill.astro";

const skills = [
  {
    title: "Diseño",
    desc: "Me encanta el diseño! El diseño es uno de los aspectos más importantes al desarrollar un producto. Por eso pongo especial atención en el diseño y la experiencia de usuario. Estas son las herramientas que uso para prototipar:",
    tags: "Figma, Inkscape",
    skill_img: "/assets/design-img.webp",
    logo_src: "./assets/logo_figma.svg"
  },
  {
    title: "Frontend",
    desc: "Éste es el paso que más me gusta del desarrollo: hacer el diseño UI, funcional! Y además de funcional, que la UX se refleje en la optimización y en el uso de la página. Estas son las herramientas que utilizo:",
    tags: "HTML, CSS, Javascript",
    skill_img: "/assets/frontend-img.webp",
    logo_src: "/assets/logos.svg"
  },
  {
    title: "Backend",
    desc: "La lógica de negocio, es otra área que me fascina para el manejo de los datos y la persistencia de los mismos. Estos son las herramientas que utilizo para el backend: ",
    tags: "Node.js",
    skill_img: "/assets/backend-img.svg",
    logo_src: "/assets/logos_express.svg"
  }
]
---

<section id="about">
  <div>
    <div id="about-desc-container">
      <div id="first-column">
        <div id="watermark">Sobre mí</div>
        <h2>Sobre mí</h2>
        <p class="about-desc"><b>Hola!</b> Me llamo Elías Pereyra Gómez, soy desarrollador web. El entusiasmo por el mundo de la web comenzó en el año 2015, cuando conocí por primera vez los lenguajes de marcado: HTML y CSS. Más adelante, me fui adentrando a los lenguajes de programación, como PHP, Java y JavaScript.</p>
        <p class="about-desc">En el desarrollo web hay muchas áreas, y de las tantas, me fascinan el desarrollo fullstack y el diseño UI.</p>
      </div>
      <div id="second-column">
        <img src="/assets/profile-removebg.webp" alt="foto de perfil" />
      </div>
    </div>

    <h3>Estos son los roles que me gusta aprender:</h3>

    <div id="skills">
      {skills.map(({title, desc, tags, skill_img, logo_src}) => 
        <Skill title={title} desc={desc} skill_img={skill_img} tags={tags} logo_src={logo_src} />)
      }
    </div>
  </div>
</section>

<style>
  section { padding: 4em 3em; position: relative; }
  h3 { margin-top: 0; text-align: center; }

  #watermark {
    position: absolute;
    opacity: .03;
    font-size: 10rem;
    top: 0;
    left: 0;
    z-index: 999;
  }

  #about-desc-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8em 0;
  }

  .about-desc {
    font-weight: 400;
    width: 55ch;
    line-height: 1.5em;
  }

  #second-column img {
    width: 15em;
    border: 7px solid var(--dark-blue);
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(252, 252, 213) 40%, rgb(241, 241, 197) 100%);
  }

  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
