---
import Skill from "../components/Skill.astro";
import CVButton from "../components/CV_Button.astro";

const skills = [
  {
    title: "Design",
    desc: "I love design! Design is one of the most important aspects when making a product. That's why I put special attention on the design. This is the tool I use for prototyping:",
    tags: ["Figma"],
    skill_img: "/assets/design-img.webp",
    logo_src: "./assets/logo_figma.svg",
    bg_color: "linear-gradient(270deg, #FED1CC 17.36%, rgba(254, 209, 204, 0) 93.71%);"
  },
  {
    title: "Frontend",
    desc: "This is the step I like the most: make the UI design, functional! And in addition to Design, offer a good user experience when using the page. These are the tools I use:",
    tags: ["React.js", "Next.js", "Astro", "Sass", "Styled-Components"],
    skill_img: "/assets/frontend-img.webp",
    logo_src: "/assets/logos.svg",
    bg_color: "linear-gradient(89.84deg, #B6F2B6 17.82%, rgba(182, 242, 182, 0) 89.38%);"
  },
  {
    title: "Backend",
    desc: "The Business Logic, is another area I really like for data management together with DBs, for the persistence of them. These are the tools I use for backend: ",
    tags: ["Node.js", "Express.js", "MongoDB", "GraphQL"],
    skill_img: "/assets/backend-img.svg",
    logo_src: "/assets/logos_express.svg",
    bg_color: "linear-gradient(270deg, #E6BBF5 18.01%, rgba(230, 187, 245, 0) 94.35%);"
  }
]
---

<section id="about">
    <div id="about-desc-container">
      <article id="first-column">
        <span id="watermark">About me</span>
        <h2>About me</h2>
        <p class="about-desc"><b>Hi!</b> My name is Elías Pereyra Gómez, I'm a fullstack web developer. The enthusiasm for the world of the web started in 2015, when I met for the first time the markup languages: <i>HTML</i> and <i>CSS</i>. Later, I was getting deeper into the programming languages, like <i>PHP</i>, <i>Java</i> and <i>JavaScript</i>.</p>
        <p class="about-desc">In web development there are many areas, and of the many, <b>fullstack development</b> and <b>UI design</b> fascinate me.</p>
        <CVButton />
      </article>
      
      <article id="second-column">
        <img src="/assets/profile-removebg.webp" alt="foto de perfil" />
      </article>
    </div>

    <h3>These are the areas that I like to learn:</h3>

    <div id="skills">
      {skills.map(({title, desc, tags, skill_img, logo_src, bg_color}) => 
        <Skill 
          title={title} 
          desc={desc} 
          skill_img={skill_img} 
          tags={tags} 
          logo_src={logo_src} 
          bg_color={bg_color} 
        />)
      }
    </div>
</section>

<style>
  section { padding: 4em 3em; position: relative; background: linear-gradient(120deg, #fffbf5 0%, #fff3e2 100%); }
  h3 { margin-top: 0; text-align: center; }

  #watermark {
    position: absolute;
    opacity: .02;
    font-size: 11rem;
    top: 0;
    left: 0;
    z-index: 999;
  }@media (max-width: 768px) {
    #watermark {
      font-size: 8rem;
    }
  }

  #about-desc-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8em 0;

  }@media (max-width: 768px) {
    #about-desc-container {
      flex-direction: column;
      text-align: center;
    }
  }

  .about-desc {
    font-weight: 400;
    width: 55ch;
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }@media (max-width: 768px) {
    h2 { font-size: 1.7rem; }
    .about-desc {
      font-size: 1.1rem;
    }
  }

  #second-column img {
    width: 15em;
    border: 7px solid var(--dark-blue);
    border-radius: 50%;
    background: #F8A68E;
  }@media (max-width: 768px) {
    #second-column img {
      display: none;
    }
  }

  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
