---
  import Card from '../components/Card.astro'

  import '../styles/global.css'

  const projects = [
    {
      title: "Expense Tracker",
      desc: "This is a description for this particular project. It was made with such technologies.",
      project_img: "/assets/app-cover.webp",
      tags: [
        "React.js ",
        "Material UI ",
        "Speechly AI",
      ],
      live: "https://s-expensetracker.netlify.app",
      repo: "https://github.com/eliaspereyra/expense-tracker"
    },
    {
      title: "Memories",
      desc: "This is a description for this particular project. It was made with such technologies.",
      project_img: "/assets/ej2.webp",
      tags: [
        "React.js ",
        "Node.js ",
        "Express.js ",
        "MongoDB ",
        "Material UI"
      ],
      live: "https://imagery-app.netlify.app",
      repo: "https://github.com/eliaspereyra/memories-project"
    },
    {
      title: "Expense Tracker",
      desc: "This is a description for this particular project. It was made with such technologies.",
      project_img: "/assets/ej3.webp",
      tags: [
        
      ],
      live: "https://app.com",
      repo: "https://github.com/eliaspereyra/"
    }
  ]
---

<main id="portfolio">
  <h2>Mis Últimos Proyectos</h2>
  <ul>
    {projects.map(({title, desc, project_img, tags, live, repo}) => 
      <Card 
        title={title} 
        desc={desc} 
        project_img={project_img}
        tags={tags} 
        live_link={live} 
        repo_link={repo} />)}
  </ul>
  <a id="btn-more" href="https://github.com/EliasPereyra" target="_blank" referrerpolicy="no-referrer"><b>Ver más</b></a>
</main>

<style>
  
  main {
    padding: 2em 3em;
    background: linear-gradient(180deg, #101732 0%, #060C21 100%);
    
  }
  
  h2 {text-align: center; margin: 4em 0; color: white;}
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  #btn-more {
    display: block;
    margin: auto;
    padding: 1em 3em;
    border-radius: 5px;
    width: 7em;
    text-align: center;
    text-decoration: none;
    font-size: .8rem;
    color: var(--dark-blue);
    background-color: white;
    font-weight: bold;
    transition-property: background-color, color;
    -webkit-transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: ease-in-out;
  }#btn-more:hover {
    opacity: .8;
  }
</style>
